@font-face {
    font-family: 'franklin';
    src: url('fonts/franklin-normal-600.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    position: relative;
    background-color: #121213;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: 'franklin';
    font-weight: bold;
}

.game_container {
    display: flex;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 95%;
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.nav-icon {
    width: 32px;
    cursor: pointer;
}

.guess_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    width: 90%;
}

.guess_row {
    display: flex;
    justify-content: center;
    gap: .25rem;
    width: 100%;
}

.input-container {
    display: flex;
    gap: 1rem;
}

.letter-input {
    text-align: center;
    color: #fff;
    border: 2px solid rgb(58, 58, 60);
    outline: none;
    width: 16%;
    max-width: 4.5rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: #7b7a7a33;
}

.keyboard_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: .3rem;
    width: 95%;
}

.keyboard_row {
    display: flex;
    justify-content: center;
    gap: .3rem;
}

.key_input, .enter_key, .backspace_key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #818384;
    color: #f8f8f8;
    font-weight: 900;
    font-size: 1.25rem;
    border-radius: .25rem;
    width: 9%;
    max-width: 2.75rem;
    height: 3.75rem;
    cursor: pointer;
    padding-inline: .1rem;
}

.key_input:active {
    background-color: #696a6a;
}

.enter_key, .backspace_key {
    font-size: .75rem;
    width: 4rem;
    aspect-ratio: 1 / 1;
    max-width: 4rem;
}

.backspace_icon {
    width: 40px;
}

.end_container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: baseline;
    background-color: #00000054;
}

.end_window {
    text-align: center;
    margin-top: 7rem;
    display: inline;
    background: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3.5rem;
    border-radius: .75rem;
    gap: .75rem;
}

.end_title {
    font-size: 3rem;
    font-weight: bold;
}

.word_reveal, .word {
    font-size: 1.25rem;
}

.restart_btn {
    background-color: #538d4e;
    font-size: 1.25rem;
    color: #fff;
    padding: .5rem 1.25rem;
    border-radius: .75rem;
    border: none;
    cursor: pointer;
    margin-top: .25rem;
}

.restart_btn:active {
    background-color: #416d3d;
}

.pulse-anim-green {
    animation: pulse .75s;
    background-color: #538d4e;
    border-color: #ffffff00;
}

.pulse-anim-yellow {
    animation: pulse .5s;
    background-color: #b59f3b;
    border-color: #ffffff00;
    color: #fff;
}

.pulse-anim-grey {
    animation: pulse .5s;
    background-color: #3a3a3c;
    border-color: #ffffff00;
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@media (min-width: 500px) {
    .game_container {
        justify-content: space-around;
    }

    .letter-input {
        width: 10%;
        max-width: 3.25rem;
        font-size: 2rem;
    }

    .key_input {
        max-width: 2.25rem;
    }
}

@media (min-width: 1400px) {
    .navbar {
        margin: 0;
    }

    .nav-icon {
        width: 50px;
    }

    .game_container {
        height: 100vh;
    }

    .letter-input {
        width: 10%;
        max-width: 5.25rem;
        font-size: 3.5rem;
    }

    .key_input {
        max-width: 3.5rem;
        height: 6rem;
        font-size: 2rem;
    }

    .enter_key, .backspace_key {
        height: 6rem;
        max-width: 8rem;
        width: 8rem;
        font-size: 1.5rem;
    }

    .backspace_icon {
        width: 70px;
    }
}